{% include 'base.html' %}


<table>
    <tr>
        <td>Name:</td><td>{{det.name}}</td>
    </tr>
    <tr>
        <td>Regd no:</td><td>{{det.regno}}</td>
    </tr>
    <tr>
        <td>Year:</td><td>{{det.year }}</td>
    </tr>
    <tr>
        <td>Branch:</td><td>{{dept.dept_name}}</td>
    </tr>
    <tr>
        <td>Section:</td><td>{{det.section}}</td>
    </tr>
    <tr>
        <td>Student Mobile:</td><td>{{det.student_mobile}}</td>
    </tr>
    <tr>
        <td>Student Email:</td><td>{{det.student_email}}</td>
    </tr>
    <tr>
        <td>Parent Email:</td><td>{{det.parent_email}}</td>
    </tr>
    <tr>
        <td>Parent Mobile:</td><td>{{det.parent_mobile}}</td>
    </tr>
</table>


{% include 'footer.html' %}