{% include 'base1.html' %}
<p>The Aim of the project STUDENT ANALYSIS SYSTEM is to improve the student performance and monitoring of students by their parents.</p>
<p>The Student Analysis system is used to open the student details or behaviour or his interaction in or within the the class to parents and used for overall sketch of the student by Faculty. </p>
So that parents or faculty can take an action according to it.
Finally this system makes student more productive and achieve their goals.</p>
{% include 'footer1.html' %}