{% include 'base.html' %}



<font size="6"> <center><b>Student Performance Form</b></center></font><br>

<form method="POST">
    {% csrf_token %}
    <center>
        <font size="4" color="#ff0000">{{error}}</font></center>
    <table>
        <tr>
            <td><h2>Registration no :</h2></td><td colspan="3"><input type="text" required name="regno" placeholder="Type here"></td>
        </tr>
        <tr>
            <td><h2>Attendance &nbsp;: </h2></td><td colspan="3"><input type="text" required name="attendance" placeholder="Type here"></td>
        </tr>
        <tr>
            <td><h2>Class &nbsp;: </h2></td><td colspan="3"><select name="subject">
            {% for i in faculty %}
            <option value="{{i.sub_name}}">{{i.sub_name}}</option>
               {% endfor %}
        </select>
            </td>
        </tr>



        <tr>
            <td></td>
            <td width="50px">Poor</td>
            <td>Good</td>
            <td>Excellent</td>
        </tr>
        <tr>
            <td><h2>Listening Skills: </h2></td><td><input required type="radio" name="listening_skills" value=05></td>
            <td><input required type="radio" name="listening_skills" value=08></td>
            <td><input required type="radio" name="listening_skills" value=10></td>
        </tr>
        <tr>
            <td><h2>Learning Attitude: </h2></td><td><input type="radio" name="learning_attitude" value=05></td>
            <td><input required type="radio" name="learning_attitude" value=08></td>
            <td><input required type="radio" name="learning_attitude" value=10></td>
        </tr>
        <tr>
            <td><h2>Assignment submission: </h2></td><td><input type="radio" name="assignment_submission" value=05></td>
            <td><input required type="radio" name="assignment_submission" value=08></td>
            <td><input required type="radio" name="assignment_submission" value=10></td>
        </tr>
        <tr>
            <td><h2>Communication Skills: </h2></td><td><input type="radio" name="communication_skills" value=05></td>
            <td><input required type="radio" name="communication_skills" value=08></td>
            <td><input required type="radio" name="communication_skills" value=10></td>
        </tr>
        <tr>
            <td><h2>Collaboration with students: </h2></td><td><input type="radio" name="collaboration_with_students" value=05></td>
            <td><input required type="radio" name="collaboration_with_students" value=08></td>
            <td><input required type="radio" name="collaboration_with_students" value=10></td>
        </tr>
        <tr>
            <td ><h2>Others if mention: </h2></td><td colspan="3"><input type="text" name="others_if_mention" placeholder="Type here"></td>
        </tr>
        <tr>
            <td><button type="submit">POST</button></td>
        </tr>

    </table>
</form>
{% include 'footer2.html' %}