{% include 'base.html' %}
<table>
    <tr>
        <td>Regd no:</td><td>{{sco_det.regno}}</td>
    </tr>
    <tr>
        <td>Subject 1:</td><td>{{sco_det.s1 }}</td>
    </tr>
    <tr>
        <td>Subject 2:</td><td>{{sco_det.s2 }}</td>
    </tr>
    <tr>
        <td>Subject 3:</td><td>{{sco_det.s3 }}</td>
    </tr>
    <tr>
        <td>Subject 4:</td><td>{{sco_det.s4 }}</td>
    </tr>
    <tr>
        <td>Subject 5:</td><td>{{sco_det.s5 }}</td>
    </tr>
    <tr>
        <td>Subject 6:</td><td>{{sco_det.s6 }}</td>
    </tr>
    <tr>
        <td>Subject 7:</td><td>{{sco_det.s7 }}</td>
    </tr>
    <tr>
        <td>Subject 8:</td><td>{{sco_det.s8 }}</td>
    </tr>

    <tr>
        <td>Subject 9:</td><td>{{sco_det.s9 }}</td>
    </tr>

    <tr>
        <td>Subject 10:</td><td>{{sco_det.s10 }}</td>
    </tr>
    <tr>
        <td>Average :</td><td>{{sco_det.avg }}</td>
    </tr>

</table>

{% include 'footer.html' %}